[Desktop Entry]
Comment=A monitor calibration tool

Name=Gamma

X-DocPath=kcontrol/kgamma5/index.html
Icon=preferences-desktop-display-color
X-KDE-Keywords=KGamma, kgamma, Gamma, gamma
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Test-Module=true

X-KDE-Library=kcm_kgamma
X-KDE-Init-Symbol=kgamma
X-KDE-ParentApp=kcontrol
X-KDE-Init-Phase=1

X-KDE-System-Settings-Parent-Category=display
X-KDE-OnlyShowOnQtPlatforms=xcb

Categories=Qt;KDE;Settings;X-KDE-settings-peripherals;
